#appetizer-section-heading, #entrees-section-heading, #dessert-section-heading {
    margin-top: 5rem;
    text-align: center;
}

.menu-list-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.menu-column {
    width: 30%;
}

.menu-item-container {
    margin: 1rem 5rem;
}

.menu-item-heading-container {

    display: flex;
    justify-content: space-between;
}

.menu-item-description {
    margin-top: 0;
}


@media only screen and (max-width: 996px) {
    .menu-column {
        width: 50%;
    }
}